html, body {
  min-height: 45px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #dadada;
  width: 100%;
}

.back-button {
  color: #000000;
  font-size: 30px;
  margin-top: 30px;
}

.back-button-link {
  text-decoration: none;
  color: #000000;
}

.parent-container-header {
  display: flex;
}

.cart-button {
  padding: 13px;
  height: 50px;
  width: 60px;
  background-color: #ff9417;
  color: rgb(21, 17, 17);
  border: none;
  border-radius: 20px;
  font-size: 25px;
  margin-right: 15px;
  margin-top: 20px;
}

.cart-button a {
  text-decoration: none;
  color:  rgb(21, 17, 17);
}

.logo {
  max-height: 100px;
  margin: auto;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 20px;
  margin-top: 35px;
}

li a {
  text-decoration: none;
  color: #000000;
}

footer {
  width: 100%;
  background-color: #dadada;
  position: relative;
  left:0px;
  bottom:0px;
}

.parent-footer {
  display: flex;
}

.search {
  color: #000000;
  margin-top: 10px;
  width: 100px;
  height: 70px;
  display: flex;
}

.hero-header-about {
  text-align: center;
  font-size: 2rem;
}

h2 {
  text-align: center;
  margin-top: 30px;
}

.line {
  height: 1px;
  background: black;
  width: 250px;
  margin: auto;
}

.text {
  display: flex;
  justify-content: center;
  max-width: 90vw;
  margin-top: 30px;
  font-size: 12px;
  line-height: 1.5;
  color: #8B8484;
}

.story {
  max-width: 500px;
}

.story-text2 {
  margin-top: 30px;
}

.team-text {
  max-width: 500px;
}

.story-img {
  display: flex;
  justify-content: center;
}

.story-image-child {
  width: 250px;
}

.staff-picture1 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.staff-picture2 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.michaela {
  margin-right: 20px;
}

.cathrine {
  margin-right: 20px;
}

.staff-pic {
  width: 100px;
}

.staff-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .text {
    display: flex;
    justify-content: center;
    max-width: 140vw;
    margin-top: 30px;
    font-size: 24px;
    line-height: 1.5;
    color: #8B8484;
  }

  .story-image-child {
    width: 500px;
  }

  .line {
    width: 400px;
  }
}