html, body {
  min-height: 45px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #dadada;
  width: 100%;
}

.back-button {
  color: #000000;
  font-size: 30px;
  margin-top: 30px;
}

.back-button-link {
  text-decoration: none;
  color: #000000;
}

.parent-container-header {
  display: flex;
}

.cart-button {
  padding: 13px;
  height: 50px;
  width: 60px;
  background-color: #ff9417;
  color: rgb(21, 17, 17);
  border: none;
  border-radius: 20px;
  font-size: 25px;
  margin-right: 15px;
  margin-top: 20px;
}

.logo {
  max-height: 100px;
  margin: auto;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 20px;
  margin-top: 35px;
}

li a {
  text-decoration: none;
  color: #000000;
}

footer {
  width: 100%;
  background-color: #dadada;
  position: relative;
  left:0px;
  bottom:0px;
}

.parent-footer {
  display: flex;
}

.search {
  color: #000000;
  margin-top: 10px;
  width: 100px;
  height: 70px;
  display: flex;
}

.hero-header-contact {
  text-align: center;
  font-size: 2rem;
}

.line {
  height: 1px;
  background: black;
  width: 250px;
  margin: auto;
}

.line-2 {
  margin-top: 26px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: auto;
  gap: 2vh;
  margin-top: 20px;
}

input[type="submit"] {
  background-color: #FF9417;
  color: rgb(21, 17, 17);
  border: none;
  height: 60px;
  width: 250px;
  font-size: 1.5rem;
}

input {
  height: 35px;
}

.social-media-iconsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  gap: 1.5rem;
}

.logo-social {
  width: 40px;
  display: flex;
  margin-bottom: 20px;
}

.contact-footer {
  text-align: center;
  margin-top: 25px;
}

@media screen and (min-width: 600px) {
  .line {
    height: 1px;
    background: black;
    width: 400px;
    margin: auto;
  }
}