html, body {
  min-height: 45px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #DADADA;
  width: 100%;
}

.logo {
  max-height: 100px;
  width: 40px;
}

.hero-header-contact {
  text-align: center;
  font-size: 2rem;
}

.line {
  height: 1px;
  background: black;
  width: 250px;
  margin: auto;
}

.line-2 {
  margin-top: 26px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: auto;
  gap: 2vh;
  margin-top: 20px;
}

input[type="submit"] {
  background-color: #FF9417;
  color: white;
  border: none;
  height: 60px;
  width: 250px;
  font-size: 1.5rem;
}

input {
  height: 35px;
}

.social-media-iconsection {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 40px;
  width: 10px;
}

.contact-footer {
  text-align: center;
  margin-top: 25px;
}

@media screen and(min-width: 600px) {
  .line {
    height: 1px;
    background: black;
    width: 400px;
    margin: auto;
  }
}