html, body {
  min-height: 45px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #dadada;
  width: 100%;
}

.logo {
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.foreground {
  position: relative;
  z-index: 200;
}

.background-product {
  background-image: url(/rohit-tandon-9wg5jCEPBsw-unsplash.jpg);
  background-size: cover;
  height: 700px;
  /* opacity: 0.4; */
  filter: brightness(50%);
}

.rainydays-jacket3 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  width: 250px;
  height: 250px;
}

.text-rainyjacket {
  color: #fff;
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.button {
  border-radius: 50%;
  color: black;
  background-color: #A8A4A2;
  border: none;
  font-weight: bold;
}

.left-arrow {
  width: 0;
  height: 0;
  border-right: 15px solid #d9d9d9;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  margin-right: 20px;
}

.left-arrow-container {
  width: 40px;
  height: 40px;
  background-color: #A8A4A2;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-top: -150px;
  margin: auto;
}

.right-arrow {
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 15px solid #d9d9d9;
  border-bottom: 15px solid transparent;
  margin-left: 20px;
}

.right-arrow-container {
  width: 40px;
  height: 40px;
  background-color: #A8A4A2;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-top: -45px;
  margin: auto;
}

.arrow-parent {
  display: flex;
  flex-direction: row;
  margin-top: -300px;
  justify-content: space-between;
}

.add-to-cart-button {
  display: grid;
  place-content: center;
  height: 70px;
  max-width: 250px;
  background-color: #ff9417;
  color: white;
  border: none;
  text-decoration: none;
  margin: auto;
  margin-top: 40px;
}


