@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
html, body {
  min-height: 45px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #444444;
  color: white;
}

header {
  background-color: #dadada;
  width: 100%;
}

.back-button {
  color: #000000;
  font-size: 30px;
  margin-top: 30px;
}

.parent-container-header {
  display: flex;
}

.search-bar {
  margin-top: 33px;
  margin-left: 30px;
  width: 125px;
  height: 30px;
  padding: 10px;
  border-radius: 20px;
}

.search {
  margin: -6px 0px 0px 80px;
  font-size: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: #000000;
  margin-top: 40px;
  margin-right: 45px;
}

.cart-button {
  padding: 13px;
  height: 50px;
  width: 60px;
  background-color: #ff9417;
  color: #fff;
  border: none;
  border-radius: 25%;
  font-size: 25px;
  margin-right: 15px;
  margin-top: 20px;
}

.logo {
  max-height: 100px;
  margin: auto;
}

.hero-header {
  font-size: 2rem;
  text-align: center;
}


.button {
  display: grid;
  place-content: center;
  height: 100px;
  max-width: 200px;
  background-color: #ff9417;
  color: white;
  border: 1px solid #000000;
  border-radius: 6px;
  text-decoration: none;
  margin: 0% 0% 0% 70%;
}

.shop-men {
  margin-top: 175px;
}

.shop-women {
  top: 350px;
  margin-bottom: 40px;
}

.hero-section {
  background-image: url(/alexander-kaufmann-StfgyoFRnwE-unsplash.jpg);
  max-width: 100%;
  min-height: 69vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
}


@media screen and (min-width: 154px) {
  
}
